version: '3'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - SECRET_KEY=your_secret_key_here
      - ALLOWED_HOSTS=localhost,127.0.0.1
      - TELEGRAM_BOT_TOKEN=your_telegram_bot_token
      - TELEGRAM_ADMIN_CHAT_ID=your_telegram_admin_chat_id